@import "tailwindcss";

@theme {
  --color-primary: #198cb3;
  --color-secondary-green: #42b72a;
  --color-background-light: #f0f2f5;
  --color-background-dark: #1c1c21;
  --font-family-display: "Plus Jakarta Sans", sans-serif;
}